{% load static %}

<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Mihai Corciu">
<meta name="description" content="django site">
<link rel="shortcut icon" type="image/png" href='{% static "blog/img/python.png" %}' />

{% block tags %}
{% endblock %}


<!-- ?????????????????????????????????? -->
<!--<link rel="stylesheet"  href='/1/test.css'>-->
<style>
    //@import url('/1/test.css');
</style>
<!--ok!!!-->
<!--<link rel="stylesheet"  href='{% static "blog/css/test.css" %}'>-->



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->



<style>
/* navbar: Show it is fixed to the top */
body {
  //min-height: 75rem;
  padding-top: 4.5rem;
  //background-color: lightblue;
}

/* change the background color */
.navbar-custom {
    //background-color: #4285F4;
}

</style>


</head>

<body>

{% csrf_token %}


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top navbar-custom p-0">
<!--
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-1">
-->

<div class="container">

  <a class="navbar-brand" href="#">Mihai Corciu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/site_map">Site map<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <!--
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Topics
  </button>
  <div id="menu1" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <!--
    <a class="dropdown-item" href="/#topic1">Topic1</a>
    <a class="dropdown-item" href="#topic2">Topic2</a>
    <a class="dropdown-item" href="#topic3">Topic3</a>
    -->
    {% block topics %}
        {% autoescape off %}
            {{ topics }}
        {% endautoescape %}
    {% endblock %}
  </div>
</div>

</div>

</div>

</nav>


<div class="container">
<div class="shadow p-3 mb-5 bg-white rounded">

    {% block content %}
    {% endblock %}

</div>
</div>



<!-- Footer -->
<footer class="page-footer font-small bg-primary" style="">

<div class="container">
    <div class="row">


    <div class="col-sm">
    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-1">&copy; Corciu Mihai - 2019
    <p class="m-0 text-center text-white">mc200520052005@yahoo.com</p>
    </div>
    <!-- Copyright -->
    </div>


    </div>
</div>

</footer>
<!-- Footer -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->

<!--
<script src="https://rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
-->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


</body>

</html>
